

table {
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid black;
    background-color: blue;
}

td {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}
/* comment */

#restart-button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#current-player {
    font-size: 20px;
    margin: 20px;
}

td.empty{
    background-color: rgb(255, 255, 255);
}

td.player1 {
    background-color: rgb(27, 175, 27);
}

td.player2 {
    background-color: red;
}