
table {
    border-collapse: separate;
    border-spacing: 10px;                        
    margin: 20px auto;
    background-color: #1e90ff;                
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);       /* Subtiler Schatten für Tiefe hinzugefügt */
    border-radius: 20px;                              /* Abgerundete Ecken für ein glatteres Aussehen */
    overflow: hidden;                                 /* Stellt sicher dass abgerundete Ecken sichtbar sind */
    position: relative;                               /* Position relativ zum Elternelement */
    /*  transform: translateX(-150px);                     /* Verschiebt den Tisch etwas nach links */
}

body {
    background: radial-gradient(circle, rgb(196, 156, 119) 10%, rgb(167, 97, 97) 100%);
}



h1 {
    text-align: center;
    font-size: 40px;    
    color: #000000;
    text-shadow: black;
}

@keyframes fall {                         /* Animation für fallende Spielsteine */
    0% {
        transform: translateY(-1000px);     /* Startposition oberhalb des Spielfelds */
    }
    100% {                                  
        transform: translateY(0);           /* Endposition auf dem Spielfeld */
    }
}


td {
    width: 80px;                                      /* Breite der Zellen */
    height: 80px;                                     /* Höhe der Zellen */
    border: 2px solid black;                          /* Schwarzer Rand um die Zellen */
    border-radius: 50%;                               
    cursor: pointer;                                  
    transition: background-color 0.3s ease, transform 0.3s ease; /* Übergangseffekte für Hintergrundfarbe und Skalierung */
}

td.fall {
    animation: fall 0.3s ease-out;                    /* Animation für fallende Spielsteine wie viel Sekunden*/
}




td:hover {
    background-color: rgb(200, 200, 200);
    transform: scale(1.1);
}
/* comment */



#restart-button {
    padding: 20px 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 20px;
    display: block; 
    right: 120px;
    top: 80px; 
}

/*Flex.Content*/
#container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 50px;
    flex-wrap: wrap; /* Ermöglicht das Umbrechen von Inhalten, um Überlauf zu verhindern */
}

/*Flex,%,VH,VW,*/
#game-board {
    width: 100%;
    max-width: 800px;   /* Setzt eine maximale Breite, um zu verhindern, dass es zu groß wird */
    margin: 10 auto;
    transform: translateX(0); /* Entfernt die Verschiebung, um es zentriert zu halten */
    flex: 1 1 auto; /* Ermöglicht dem Spielbrett zu wachsen und zu schrumpfen */
}

/*Flex,%,VH,VW*/
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    flex: 0 0 auto; /* Verhindert, dass die Seitenleiste schrumpft */
}

/*@media */


#current-player {
    width: 100%;
    font-size: 25px;
}

#win-counter {
    font-size: 20px;
    margin: 10px;
    float: left;
    width: 100%;
}

#move-counter {
    font-size: 20px;
    margin: 10px;
    width: 100%;
}

td.empty{
    background-color: rgb(255, 255, 255);
}

td.player1 {
    background-color: rgb(27, 175, 27);
}

td.player2 {
    background-color: red;
} 

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #235285;
    color: #ffffff;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 10px; /* Rounded corners for a smoother look */
    text-align: center; /* Center the text */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#victory-message {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}



#trophy-image {
    width: 100px;
    height: auto;
    margin: 20px auto 0;   /*das Bild wird oben zentriert */
}



#back-to-selection {
    text-align: center;
    margin-top: 20px;
    margin-right: 8%;
}

#back-to-selection a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #235285;
    border-radius: 10px;
}

#back-to-selection a:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    color: #ffffff;
}
